<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title 'Login' %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body class="app app-login p-0">
		{% block body %}
			<div class="row g-0 app-auth-wrapper">
				<div class="col-12 col-md-7 col-lg-6 auth-main-col text-center py-5">
					<div class="d-flex flex-column align-content-end">
						<div class="app-auth-body mx-auto">
							<img src="img/I_own_safety.png" alt="logo" width="300" height="150">
							<h2 class="auth-heading text-center mb-5 mt-5">Log in to Nearmiss App</h2>
							<div class="auth-form-container text-start">
								<form method="post" class="auth-form login-form">
									{% if error %}
										<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
									{% endif %}

									{% if app.user %}
										<div class="mb-3">
											You are logged in as
											{{ app.user.username }},
											<a href="{{ path('app_logout') }}">Logout</a>
										</div>
									{% endif %}
									<div class="email mb-3">
										<label class="sr-only" for="signin-email">Email</label>
										<input type="email" value="{{ last_username }}" name="email" id="email" class="form-control mt-2" autocomplete="email" placeholder="Email" required autofocus>
									</div>
									<div class="password mb-3">
										<label class="sr-only" for="signin-password">Password</label>
										<input type="password" name="password" id="password" class="form-control mt-2" autocomplete="current-password" placeholder="Mot de passe" required>

										<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


										{#Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.#}
										{#See https://symfony.com/doc/current/security/remember_me.html #}

											<div class="extra mt-3 row justify-content-between"> <div class="col-6">
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value="" id="RememberPassword">
													<label class="form-check-label" for="RememberPassword">
														Remember me
													</label>
												</div>
											</div>
										</div>
									</div>
									<!--//extra-->
								</div>

								<div class="d-grid gap-2">
									<button class="btn btn-primary mt-3" type="submit">
										Connecter
									</button>
								</div>
							</div>
						</form>
					</div>
					<footer class="app-auth-footer">
						<div class="container text-center py-3">
							{{ include('layouts/partials/_footer.html.twig') }}
						</div>
					</footer>
				</div>


				<div class="col-12 col-md-5 col-lg-6 h-100 auth-background-col">
					<div class="auth-background-holder">
						<img src="{{ asset('img/background-1.jpg') }}" alt="background" class="auth-background-overlay auth-background-holder">
					</div>
					<div class="auth-background-mask"></div>
					<div class="auth-background-overlay p-3 p-lg-5">
						<div class="d-flex flex-column align-content-end h-100">
							<div class="h-100"></div>
							<div class="overlay-content p-3 p-lg-4 rounded">
								<h5 class="mb-3 overlay-title">Découvrir Nearmiss Project</h5>
								<div>Ce projet a pour but de collecter les near misses dans notre site de production</div>
							</div>
						</div>
					</div>
					<!--//auth-background-overlay-->
				</div>
				<!--//auth-background-col-->

			</div>
		{% endblock %}
	</body>
	{% block javascripts %}
		{{ encore_entry_script_tags('app') }}
	{% endblock %}
</html>
