{% extends 'layouts/base.html.twig' %}

{% block title 'Register' %}

{% block body %}
	<div class="container">
		<div class="row g-3">
			<div class="col-md-5 col-lg-4 order-md-first"></div>
			<div class="col-md-5 col-lg-4 order-md">
				<div class="py-5 text-center">
					<h1>
						S'enregistrer
					</h1>
				</div>
				<div class="mt-1s">
					{{ form_start(registrationForm) }}
					{{ form_row(registrationForm.firstName, {'attr': {'placeholder':'Saisissez votre nom'}}) }}
					{{ form_row(registrationForm.lastName, {'attr': {'placeholder':'Votre prénom'}}) }}
					{{ form_row(registrationForm.email, {'attr': {'placeholder':'example@mail.com'}}) }}
					{{ form_row(registrationForm.password, {'attr': {'placeholder':'6 caractères minimum'}}) }}
					{{ form_row(registrationForm.roles) }}

					{{ form_row(registrationForm.agreeTerms) }}
					<div class="d-grid gap-2">
						<input type="submit" value="Enregistrer" class="btn btn-primary" formnovalidate>
					</div>
				</div>
				{{ form_end(registrationForm) }}
			</div>
		</div>
	</div>

{% endblock %}
