{% extends 'admin/dashboard.html.twig' %}

{% block title 'Suivi des employés' %}

{% block body %}

	<div class="row g-3 mb-4 align-items-center justify-content-between">
		<div class="col-auto">
			<h1 class="app-page-title mb-0">Employés</h1>
		</div>
		<div class="col-auto">
			<div class="page-utilities">
				<div class="row g-2 justify-content-start justify-content-md-end align-items-center">
					<div class="col-auto">
						<form class="table-search-form row gx-1 align-items-center">
							<div class="col-auto">
								<input type="text" id="search-orders" name="searchorders" class="form-control search-orders" placeholder="Mot clé">
							</div>
							<div class="col-auto">
								<button type="submit" class="btn app-btn-secondary">Rechercher</button>
							</div>
						</form>

					</div>
					<!--//col-->
					<div class="col-auto">

						<select class="form-select w-auto">
							<option selected value="option-1">Tous</option>
							<option value="option-2">Ce jour</option>
							<option value="option-3">Cette semaine</option>
							<option value="option-4">Ce mois</option>

						</select>
					</div>
					<div class="col-auto">
						<a class="btn app-btn-secondary" href="#">
							<svg width="1em" height="1em" viewbox="0 0 16 16" class="bi bi-download me-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
								<path fill-rule="evenodd" d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
							</svg>
							Download CSV
						</a>
					</div>
				</div>
				<!--//row-->
			</div>
			<!--//table-utilities-->
		</div>
		<!--//col-auto-->
	</div>
	<!--//row-->


	<nav id="orders-table-tab" class="orders-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4">
		<a class="flex-sm-fill text-sm-center nav-link active" id="orders-all-tab" data-bs-toggle="tab" href="#orders-all" role="tab" aria-controls="orders-all" aria-selected="true">Tous</a>
		<a class="flex-sm-fill text-sm-center nav-link" id="orders-paid-tab" data-bs-toggle="tab" href="#orders-hebdo" role="tab" aria-controls="orders-paid" aria-selected="false">Hebdomadaire</a>
	</nav>


	<div class="tab-content" id="orders-table-tab-content">
		<div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
			<div class="app-card app-card-orders-table shadow-sm mb-5">
				<div class="app-card-body">
					<div class="table-responsive">
						<table class="table app-table-hover mb-0 text-left">
							<thead>
								<tr>
									<th>ID</th>
									<th>Nom</th>
									<th>Service</th>
									<th>Responsable hierarchique</th>
									<th>Nombre de Near miss</th>
								</tr>
							</thead>
							<tbody>
								{% for item in employe %}
									<tr>
										<td>{{ item.id }}</td>
										<td>{{ item.name }}</td>
										<td>{{ item.service.nomService }}</td>
										<td>{{ item.nomResponsable }}</td>
										<td class="text text-center">{{ item.nearMisses|length }}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<!--//table-responsive-->
				</div>
				<!--//app-card-body-->
			</div>
			<!--//app-card-->
		</div>


		<div class="tab-pane fade" id="orders-hebdo" role="tabpanel" aria-labelledby="orders-paid-tab">
			<div class="app-card app-card-orders-table mb-5">
				<div class="app-card-body">
					<div class="table-responsive">
						<table class="table app-table-hover mb-0 text-left">
							<thead>
								<tr>
									<th>ID</th>
									<th>Nom</th>
									<th>Service</th>
									<th>Responsable hierarchique</th>
									<th>Nombre de Near miss</th>
								</tr>
							</thead>
							<tbody>
								{% for emp in employe %}
									<tr>
										<td>{{ emp.id }}</td>
										<td>{{ emp.name }}</td>
										<td>{{ emp.service.nomService }}</td>
										<td>{{ emp.nomResponsable }}</td>
										{% if emp.nearMisses|length == 0 %}
											<td>0</td>
										{% else %}
											<td class="text text-center">{{ emp.nearMisses|length }}</td>
										{% endif %}
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<!--//table-responsive-->
				</div>
				<!--//app-card-body-->
			</div>
			<!--//app-card-->
		</div>
	</div>
{% endblock %}
