{% extends 'admin/dashboard.html.twig' %}

{% block title 'Historique des near misses' %}

{% block body %}
	<div class="row g-3">
		{{ form_start(form) }}
		<div class="row g-3">
			<div class="col-sm-4">
				{{ form_row(form.mots, {'attr':{'placeholder':'Entrez un ou plusieurs mots-clés'}}) }}
			</div>
			<div class="col-sm-2">
				{{ form_row(form.employe, {'attr':{'placeholder':'Entrer un employe'}}) }}
			</div>
			<div class="col-sm-2">
				{{ form_row(form.categorie) }}
			</div>
			<div class="col-sm-2">
				{{ form_row(form.year) }}
			</div>
			<div class="col-sm-2 mt-5">
				<label for=""></label>
				<button type="submit" class="btn btn-success">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewbox="0 0 16 16">
						<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
					</svg>
					Rechercher
				</button>

			</div>
		</div>
	</div>
	{{ form_end(form) }}
	{% include "nearmiss/tous/tous.html.twig" %}
{% endblock %}
